.main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;   
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.alert {
    text-align: center;
    background-color: #e74c3c;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-clip: border-box;
    background-color: rgb(48, 48, 48);
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.125);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.125);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 560px;
    overflow-wrap: break-word;
    
}

.card-details {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    font-size: 12px;
}

.card-description {
    padding: 0 1rem 0 1rem;
}

.card-header {
    text-align: center;
    background-color: rgb(68, 68, 68);
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 38.4px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-wrap: break-word;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}

.card-footer {
    background-color: #ffffff8e;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: rgb(68, 68, 68);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-color: rgba(0, 0, 0, 0.125);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    align-items: center;
}

.card-footer-icon img {
    display:block;
    width: 27px;
    height: 27px;
}

.card-footer-total-likes {
    padding-left: 1rem;
}

.notice {
    text-align: center;
    background-color: #00bc8c;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button input{
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.posts-table-button-color1, .button-color1 input{
    background-color: #375a7f;
    border: 1px solid #375a7f;
}

.posts-table-button-color2, .button-color2 input {
    background-color: #444;
    border: 1px solid #444;
}

.posts-table-button-color3, .button-color3 input {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
}

.field {
    margin-bottom: 0.75rem;
}

.form-field {
    display: block;
    width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #303030;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px #375a7f;
    border: 1px solid #375a7f;
}

.form-label {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0.1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.delete-account-div {
    display: block;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
}

.shared-links-div {
    display: block;
    margin-top: 3rem;
    text-align: center;
}

.shared-links-div a {
    font: 12px;
    color: black;
}

.posts-table {
    color: black;
    overflow: hidden;
}

.posts-table th {
    color: white;
    background-color: #375a7f;
    padding: 0.75rem;
}

.posts-table tr:hover {
    background-color: #e1eaf5;
    transition: 0.25s;
}

.posts-table td {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5rem;
    max-width: 20rem;
}

.posts-table-button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.250rem 0.50rem;
    font-size: 0.66rem;
    border-radius: 0.17rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}