.main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;   
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.alert {
    text-align: center;
    background-color: #e74c3c;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.notice {
    text-align: center;
    background-color: #00bc8c;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button input {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #444;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #444;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field {
    margin-bottom: 0.75rem;
    display: block;
    width: 220px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #303030;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(131, 131, 131);
}

.delete-account-div {
    display: block;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
}

.delete-button {
    margin-top: 0.75rem;
}

.delete-button input {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #e74c3c;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #e74c3c;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.shared-links-div {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.shared-links-div a {
    text-decoration: none;
    font: 12px;
    color: black;
}